 #main{
           padding-left:0px;
            list-style-type:none;
            width:235px;
            overflow:hidden;
        }
       #head1,#hide1:hover{
           display:block
       }   
       #main>li {
                float:left;
                display: block;
                color: white;
                width:95.5px;
                text-align: center;
                padding: 11px;
                text-decoration: none;
            }
       #main > li:hover {
                background: white;
                border: blue 2px solid;
                color: blue;
                padding: 8px;
                border-radius: 15px;
            }
       #hide1:hover{
               display:block;
           }
       [id^="hide"] {     
                background: white;
                border-radius: 15px;
                color: blue;
                list-style-type: none;
                display: none;
                width: 92px;
                font-weight: bold;
                padding-left: 0px;
                padding-top: 10px;
                padding-bottom: 10px;
            }      
       [id^="hide"] li {
                    padding: 5px;
                    border-bottom: solid #808080 1px; border-radius:12px;
                }
       [id^="hide"] li:hover {
                    background:blue;
                    color:white;
                    
                }
       .list {
                width: 100%;
                float: left;
                list-style-type: none;
                font-weight: bold;
            }
       .list a {
                    color: blue;
                    text-decoration: none;
                }
       .list a:visited {
                        color: blue;
                    }
       .list div {
                    width: 100%;
                    float: left;
                    border-bottom: solid 1px #777777;
                }
       .list img {
                    float: left;
                    width: 30%;
                }
       #par{float:left;}
       .pop{width:5%;float:left;height:75px;}
       #head { 
                overflow:hidden;
                background: linear-gradient(#0000ff,#5555ff);
                color: #eeeeee;
            }
       #inputt{
                margin-left:5%;
                width:90%;
                border-radius: 8px;
                background:#0000DD;
                color:white;
                font-size:2.7vw;
                text-align: center;
                border:none;
                padding-bottom:5px; 
                padding-top:5px; 
            }
       #inputt:focus{
                outline:none;
            }
       #inputt::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.5; /* Firefox */
}

            @media (max-width:500px) {
            .list img {
                float: left;
                width: 140px;
            }
        }
            @media (max-width:600px){
    #inputt{
    font-size:14pt;
}}