<!DOCTYPE html>
<html>
<head>
    <title>Shortcuts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="function.js"></script>
     
  <link rel="stylesheet" type="text/css" href="dec.css">
</head>
<body>

    <div ng-app="myApp" ng-controller="myCtrl">
        <div id="head">
            <div id="heading">
                <div style="height:17px"></div>
                <input id="inputt" type="text" ng-model="test" placeholder="write your shortcut here.">
                <div style="height:17px"></div>
            </div>
            <div class="pop"></div>
            <div id="par">
                <ul id="main">
                    <li id="head1">
                        <div id="sh1">
                            <font size="4"><b>Order By</b></font>
                            <ul id="hide1">
                                <li>date</li>
                                <li>text</li>
                            </ul>
                        </div>
                    </li>
					
                    <li id="head2">
                        <div id="sh2">
                            <font size="4"><b>Theme</b></font>
                            <ul id="hide2">
                                <li>dark</li>
                                <li>light</li>
                            </ul>
                        </div>
            </li>
            </ul>
                
        </div>
            <div class="pop"></div>
        </div>
<p></p>

        <div class="list" style="">
            <div ng-repeat="x in whole| filter:{content:test}">
                <a href="{{x.URL}}">
                    <center><h1>{{x.Name}}</h1></center>
                    <img src="{{x.logo}}" />
                </a>
                <p> The YouTube logo always needs safe space that is free of imagery and text surrounding it. Use half the icon's width to determine the minimum amount of safe space that should surround the logo. If copy appears below the logo, you should measure safe space from the bottom of the logo to the x-height of the text </p>
            </div>
        </div>

    </div>

    <script src="databaseX.js"></script>

</body>
</html>
